@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

@font-face {
  font-family: 'luckiest';
  src: url('../../fonts/luckiest-guy-regular.TTF');
}

:root {
  --oscuro: #073B4C;
  --verde: #06D6A0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 12rem 1fr;
}

header {
  text-align: center;
}

#logo {
  padding: 1rem;
  width: 300px;
}

/* HOME PAGE */
.choose-move {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  font-family: 'luckiest';
}

.choose-move h2 {
  font-size: 2.5rem;
  color: var(--oscuro);
  font-weight: 400;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.rock {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.paper {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.scissors {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.container-moves {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  5rem 1fr 1fr;
  justify-items: center;
  gap: 1rem;
}

.container-moves img {
  width: 125px;
  animation: fadeIn;
  animation-duration: 2s;
}

/* ROUND MATCH */
.container-current-match {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  color: var(--oscuro);
  font-family: 'luckiest';
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.player-current-match, .ia-current-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.vs {
  font-size: 3rem;
  padding-top: 3rem;
}

.round-result {
  color: var(--oscuro);
  font-family: 'luckiest';
  font-size: 2rem;
  text-align: center;
}

.scores {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  color: var(--oscuro);
  font-family: 'Roboto';
  font-size: 1.3rem;
  text-align: center;
  border-top: 2px solid var(--oscuro);
  border-bottom: 2px solid var(--oscuro);
}

.player-current-score, .ia-current-score {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 6rem;
  padding: 1rem 0 1rem 0;
  color: var(--verde);
  border-radius: 15px;
}

.player-current-score p:first-child, .ia-current-score p:first-child {
  color: var(--oscuro);
  font-family: 'luckiest';
}

.next-round {
  margin-top: 1.5rem;
  width: 175px;
  height: 75px;
  border-radius: 15px;
  border: none;
  font-family: 'luckiest';
  color: var(--verde);
  background-color: var(--oscuro);
  font-size: 1.5rem;
  animation: pulse;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

/* FINAL / PLAY AGAIN */
.final-round {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-family: 'luckiest';
  color: var(--oscuro);
  font-size: 3rem;
}

.play-again {
  width: 175px;
  height: 75px;
  border-radius: 15px;
  border: none;
  font-size: 1.5rem;
  font-family: 'luckiest';
  color: var(--oscuro);
  background-color: var(--verde);
  animation: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@media (max-width: 1024px) and (min-width: 768px) {
  #logo {
    width: 500px;
  }

  .container-moves {
    margin-top: 3rem;
  }

  .container-moves img {
    width: 175px;
  }

  .round {
    margin-top: 3rem;
  }

  .final-round {
    margin-top: 12rem;
  }
}

@media (min-width: 1025px) {
  #logo {
    width: 400px;
  }

  .container-moves {
    margin-top: -1rem;
    max-width: 50%;
  }

  .container-moves img {
    width: 175px;
  }

  .rock:hover, .paper:hover, .scissors:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .final-round {
    margin-top: 7rem;
  }

  .background {
    height: 100vh;
    background-image: url(../../assets/background.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .white-bg {
    width: 85%;
    height: 100%;
    background-color: white;
  }
}